header,
main,
footer{
    display: block;
}
body{
    font-family: 'microsoft yahei';
    min-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    border: none;
}
a{text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.clear{
    zoom: 1;
    overflow: hidden;
}

header{
    padding: 10px;
    a{
        display: inline-block;
        img{
            vertical-align: middle;
        }
    }
    h3{
        display: inline-block;
    }
}
.nav{
    list-style: none;
    li{
        float: left;
    }
    a{
        padding: 5px;
        &:hover{
            border-bottom: 1px solid #000;
        }
    }
}
.first{
    padding: 250px 0 250px 100px;
    background: #fff url(../img/task_bg.jpg) 0 0 no-repeat;
    background-size: cover;
    a{
        color: #fff;
        background: red;
        display: inline-block;
        margin-top: 50px;
        padding: 10px 30px;
    }
}
.second{
    div{
        width: 24.7%;
        display: inline-block;
        text-align: center;
        &:not(:first-of-type) p{
            border-left: 1px solid #000;
        }
    }
}
.third{
    text-align: center;
    background-color: #eee;
    padding: 80px 150px;
    h2{
        font-size: 40px;
        font-weight: normal;
        margin-top: 20px;
    }
}