$red: #E84E4C;

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header,
main,
footer{
    display: block;
}
body{
    font-family: 'microsoft yahei';
    min-width: 1200px;
}
input{
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.fl{float: left;}
.fr{float: right;}
.clear{
    zoom: 1;
    overflow: hidden;
}

header{
    padding: 10px 60px 0;
    a{
        display: inline-block;
        img{
            vertical-align: middle;
        }
    }
    h1{
        margin-top: 3px;
        margin-left: 10px;
        font-size: 20px;
    }
}
.nav{
    list-style: none;
    li{
        float: left;
        a{
            color: #000;
            font-size: 15px;
            padding: 6px 15px 12px;
            margin-left: 5px;
            margin-right: 5px;
            &:hover{
                border-bottom: 4px solid $red;
                color: $red;
            }
        }
    }
    li:first-of-type{
        a{
            border-bottom: 4px solid $red;
            color: $red;
        }
    }
}
.first{
    color: #fff;
    padding: 250px 0 250px 100px;
    background: #fff url(../img/first_pic.png) 0 0 no-repeat;
    background-size: cover;
    h2{
        font-size: 60px;
        font-weight: normal;
    }
    p{
        font-size: 22px;
    }
    a{
        color: #fff;
        font-size: 26px;
        background: $red;
        display: inline-block;
        margin-top: 50px;
        padding: 12px 90px;
    }
}
.second{
    margin-top: 70px;
    margin-bottom: 70px;
    div{
        width: 24.7%;
        display: inline-block;
        text-align: center;
        &:not(:first-of-type) p{
            border-left: 1px solid #000;
        }
    }
}
.third{
    text-align: center;
    background-color: #EDEDED;
    padding: 80px 150px;
    h2{
        font-size: 40px;
        font-weight: normal;
        margin-top: 20px;
    }
}
.forth{
    height: 400px;
    text-align: center;
    background: url(../img/second_pic.jpg) 0 0 no-repeat;
    background-size: cover;
}
.fifth{
    height: 600px;
    background-color: #eee;
    .img_list{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        li{
            float: left;
            width: 25%;
            text-align: center;
        }
        a{
            display: inline-block;
            margin-top: 100px;
        }
        img{
            border: 1px solid #000;
            padding: 5px;
        }
    }
}