*{margin:0;padding:0;border:0;}
body {font-family: "Microsoft YaHei";}
li{list-style-type: none;}
a{color:#000;text-decoration: none;}
/*div{outline:#2c2c2c 1px solid;}*/
.wrapper{width: 1280px;margin:0 auto;}
header{width:1280px;max-width:1120px;height:58px;background: #fff;margin:0 auto;padding:0 60px;}
header ul li{float:left;margin:0 12px;line-height: 55px;}
header .logo{float:left;height:100%;}
header .logo{position: relative;font-family: "Regular"}
header .logo span{display:block;float:left;font-size:21px;line-height: 57px;padding-left:32px;}
header ul{float:right;}
.logo-img{width:31px;height:31px;background: url(../../public/img/logo.png) no-repeat center;margin:auto;position: absolute;left:0;top:0;bottom:0;}
header li{font-size: 14px;text-align: center;}
header .hover-icon{background: url(../../public/img/henggang_red.png) no-repeat;width:65px;height:5px;}
header .login-img{background: url(../../public/img/login.png) no-repeat;width:14px;height:17px;margin:auto;position: absolute;left:0;top:0;bottom:0;}
header .login-container{position: relative;}
header .login-container a{display: block;padding-left: 16px;}
/*section*/
section.section1{width:1280px;height:944px;background: url(../../public/img/first_pic.png) no-repeat;}
section{position: relative;}
section .contents{width:1280px;height: 200px;position: absolute;bottom: 0;left:0;padding-top: 45px;background:#fff;}
section .contents span{width:180px;display:block;margin:0 auto;padding-top:45px;}
section .contents .content{width:25%;height:100%;float: left;text-align: center;}
section .icon{width:42px;height:42px;margin:0 auto;}
section .content1 .icon{background: url(../../public/img/yuan.png) no-repeat;}
section .content2 .icon{background: url(../../public/img/qizhi.png) no-repeat;}
section .content3 .icon{background: url(../../public/img/flower.png) no-repeat;}
section .content4 .icon{background: url(../../public/img/tian.png) no-repeat;}
section .content{position: relative;}
section .content .shugang{background: url(../../public/img/shugang.jpg) no-repeat;position: absolute;right:0;top: 90px;width:2px;height:50px;}
section .section2-top{width:100%;height:270px;background: rgb(237,237,236);padding-top: 90px;}
section .section2-top .icon{background: url(../../public/img/318.png) no-repeat;width:92px;height:92px;}
section .pic{width:100%;height:450px;background: url(../../public/img/second_pic.jpg) no-repeat;}
section .section2-top .content{text-align: center;height:180px;line-height: 180px;font-family: "Regular";font-size: 53.6px;}