.navbar {
  margin-bottom: 0; }

.member {
  text-align: center; }
  .member .member_photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity .5s ease; }
    .member .member_photo:hover {
      opacity: 1;
      transition: opacity .5s ease; }
